################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnityServerBasics/v14/.suo
/UnityServerBasics/bin/Debug
/UnityServerBasics/obj/Debug
/UnityServerBasics/UnityServerBasics.csproj.user
